*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #003049;
    /*    --primary-color: #E7C6FF;
*/ --primary-color: #DFE1FC;
    --secondary-color: #c8b6ff;
    --error-red: #FF4D4D;
}

body, html {
    overflow-y: hidden;
    height: 100%; /* Ensures full viewport height */
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url("https://images.pexels.com/photos/3359003/pexels-photo-3359003.jpeg"); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    font-family: "Lato", sans-serif; /* Paragraph font */
    color: var(--text-color); /* Dark text for readability */
    padding-top: 15px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    width: 60vw;
    height: 90vh;
    padding: 10px;
}

h1 {
    font-family: "Roboto Slab", serif; /* Headline font */
    font-size: 2.5rem; /* Increase size for visibility */
    color: var(--text-color); /* Darker color for the header */
}

p {
    font-family: "Lato", sans-serif;
    color: var(--text-color); /* Paragraph font */
}

img.icon-white {
    filter: brightness(0) invert(1); /* Hack to turn the icon white */
}

.document-list {
    margin-top: 10px;
    gap: 15px;
    background-color: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-height: 80vh;     
}

    .document-list.scrollable {
        position: sticky; /* Keeps the div fixed in the viewport */
        bottom: 0; /* Aligns it to the bottom */
        max-height: 700px; /* Ensures it doesn't exceed the viewport height */
        overflow-y: hidden; /* Adds a scrollbar if needed */
        background-color: transparent; /* Optional: set a background color */
    }

.document-list.add {
    align-items: center;
}

#document-list {
    max-height: 500px; /* Set a maximum height for the list */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Enable vertical scrolling */
    gap: 10px;
    padding: 15px;
    /*scrollbar-width: thin;*/ /* For Firefox */
    scrollbar-color: white transparent;
}

.document-name {
    font-weight: bold;
    font-size: 1.2rem;
    padding-left: 20px;
    justify-self: start; /* Justify text to the left */
    color: var(--text-color) /* Default text color */
}

.document-item {
    display: grid; /* Use CSS Grid for layout */
    grid-template-columns: 3fr auto; /* Two columns: one for text and one for buttons */
    align-items: center; /* Center items vertically */
    justify-content: center;
    background-color: white;
    height: auto; /* Set a fixed height */
    min-height: 50px; /*Set min height*/
    margin: 5px 0;
    border-radius: 20px; /* Rounded corners */
    transition: transform 0.3s ease; /* Animation on hover */
    padding: 5px;
}

    .document-item:hover {
        transform: scale(1.01); /* Scale up on hover */
        filter: brightness(105%);
        /*    background-color: #ffffff;
*/
    }

/* Styling for button group */
.button-group {
    justify-self: end; /* Justify buttons to the right */
    display: flex; /* Use flexbox for button alignment */
    gap: 10px; /* Space between buttons */
    padding-right: 20px;
    padding-left: 20px;
}

button {
    padding: 5px 10px; /* Padding for buttons */
    background-color: var(--primary-color); /* Button color */
    border: none; /* Remove default border */
    border-radius: 20px; /* Rounded corners for buttons */
    cursor: pointer;
    font-weight: bold; /* Change cursor to pointer on hover */
    min-width: auto;
    width: fit-content;
}


    button:hover {
        background-color: var(--secondary-color); /* Darker background on hover */
/*        color: #ffffff;
*/    }


button.delete {
    background-color: var(--error-red); 
    color: white;
}

button.delete:hover {
    background-color: darkred; /* Darker red on hover */
}

/* Icon styling */
.material-icons {
    vertical-align: middle; /* Center the icon with the text */
}

.container {
    text-align: center;
    background-color: #DFE1FC;
    padding: 25px;
    border-radius: 20px;
    width: 35vw ;
    min-width: 350px;
    max-width: 500px;
    justify-items: center;
    align-items: baseline;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px; /* Add some space above the search bar */
    margin-bottom: 10px; /* Add some space above the search bar */
    max-width: 300px;
}

.search-bar input {
    width: 300px;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-right: none; /* Remove the border on the right to connect with button */
    border-radius: 25px 0 0 25px; /* Rounded left corners */
    outline: none;
    box-sizing: border-box; /* Ensures padding is included in the width and height */
}

.search-bar button {
    width: 50px; /* Set a fixed width for the button */
    height: 40px; /* Match the input height */
    background-color: var(--secondary-color);
    border-left: none; /* Remove the border on the left to connect with input */
    border-radius: 0 25px 25px 0; /* Rounded right corners */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0; /* Remove default padding */
}
    .search-bar button:hover {
        filter: brightness(110%);
    }

    .search-bar button.clear {
        border-radius: 0;
        background-color: var(--error-red); /* Red background for delete button */
        transition: max-width 0.3s ease-in-out;
        max-width: 0;
        overflow: hidden; /* Prevents showing content */
    }

        .search-bar button.clear.show {
            max-width: 50px; /* Adjust according to the button's width */
        }



.search-bar button img {
    width: 20px;
    height: 20px; /* Ensure the image fits inside the button */
}


.document-item.add {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    align-items: center;
    justify-self: center;
}


.document-item img {
    height: 20px;
    width: 20px;
    justify-self: start;
}

.document-item.error {
    background-color: var(--error-red);
    display: none;
    color: white;
    min-height: 50px;
    padding: 0px 20px 0px 20px;
}

.document-item.success {
    background-color: rgba(2, 195, 154);
    display: none;
    color: white;
    min-height: 50px;
    padding: 0px 20px 0px 20px;
}


/* Form styling inside the expandable content */
#expandable-form {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, 0.5s ease;
    width: 90%;
}


    #expandable-form.open {
        max-height: 300px; /* Adjust as needed */
        padding: 20px; /* Add padding to the content */
        width: 90%;
    }

#my-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
/*    padding: 10px;
*//**/    justify-content: center;
}

    #my-form button {
        align-self: center; /* This centers the button horizontally */
    }

    #expand-btn {
        justify-self: center;
        align-self: center;
    }

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.expandable form {
    display: flex;
    flex-direction: column;
}

.form-row label {
    flex-basis: 30%; /* Label takes up 30% of the row width */
    text-align: left; /* Align text left */
    padding-right: 10px; /* Add some space between the label and input */
}

.form-row input {
    background-color: transparent; /* Make the background transparent */
    border: none; /* Remove all borders */
    border-bottom: 2px solid var(--text-color); /* Add a bottom border */
    outline: none; /* Remove outline on focus */
    color: var(--text-color); /* Text color */
    padding: 8px; /* Add some padding for a better appearance */
    width: 100%; /* Ensure the input takes full width */
    box-sizing: border-box; /* Include padding in the width */
}

    .form-row input:focus {
        border-bottom: 2px solid var(--secondary-color); /* Optional: Change bottom border color on focus */
    }

.file-name {
    margin-top: 10px;
    font-size: 14px;
    color: #333; /* Adjust color as needed */
    text-align: center;
    align-self: center; 
}
